[Unit]
Description=touch's distributed currency daemon
After=network.target

[Service]
User=touch
Group=touch

Type=forking
PIDFile=/var/lib/touchd/touchd.pid

ExecStart=/usr/bin/touchd -daemon -pid=/var/lib/touchd/touchd.pid \
          -conf=/etc/touch/touch.conf -datadir=/var/lib/touchd

ExecStop=-/usr/bin/touch-cli -conf=/etc/touch/touch.conf \
         -datadir=/var/lib/touchd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
